@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Manrope', sans-serif;
}

.text-primary {
    
}

.overlay-content {
    top: 25%;
}
.closebtn {
    top: 20px;
    right: 45px;
}